orchestration/step_functions/power_pipeline.asl.json
{
  "Comment": "Global Power Plant Analytics Pipeline (mandatory Bronze->Silver DQ->Gold->KPI->Dashboards->Alerts)",
  "StartAt": "BronzeIngestion",
  "States": {
    "BronzeIngestion": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName.$": "$.jobs.ingest"
      },
      "Retry": [
        {
          "ErrorEquals": ["Glue.ConcurrentRunsExceededException"],
          "IntervalSeconds": 60,
          "MaxAttempts": 10,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Next": "SilverTransform"
    },
    "SilverTransform": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName.$": "$.jobs.silver"
      },
      "Retry": [
        {
          "ErrorEquals": ["Glue.ConcurrentRunsExceededException"],
          "IntervalSeconds": 60,
          "MaxAttempts": 10,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Next": "GoldBuild"
    },
    "GoldBuild": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName.$": "$.jobs.gold"
      },
      "Retry": [
        {
          "ErrorEquals": ["Glue.ConcurrentRunsExceededException"],
          "IntervalSeconds": 60,
          "MaxAttempts": 10,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Next": "RunKpiQuery"
    },
    "RunKpiQuery": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryString": "SELECT total_generation_capacity_mw, renewable_energy_ratio, average_plant_capacity_mw FROM vw_power_generation_kpi_summary",
        "WorkGroup.$": "$.athena.workgroup",
        "QueryExecutionContext": {
          "Database.$": "$.athena.database"
        },
        "ResultConfiguration": {
          "OutputLocation.$": "$.athena.output_location"
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 10,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "BuildVisualizations"
    },
    "BuildVisualizations": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName.$": "$.jobs.visualization"
      },
      "Retry": [
        {
          "ErrorEquals": ["Glue.ConcurrentRunsExceededException"],
          "IntervalSeconds": 60,
          "MaxAttempts": 10,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Next": "PublishInsightsAlert"
    },
    "PublishInsightsAlert": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn.$": "$.alerts.topic_arn",
        "Subject": "gppa pipeline insights",
        "Message": "Pipeline completed: Bronze to Silver (DQ), Silver to Gold, Athena KPI creation, dashboards/reports generation, alerts dispatch."
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "End": true
    }
  }
}
